/**
 * Define gray variations.
 */

gray--base     ?= palette--gray-base     or #aaa
gray--light    ?= palette--gray-light    or lighten(gray--base, 10%)
gray--lighter  ?= palette--gray-lighter  or lighten(gray--base, 20%)
gray--lightest ?= palette--gray-lightest or lighten(gray--base, 30%)
gray--dark     ?= palette--gray-dark     or darken(gray--base, 10%)
gray--darker   ?= palette--gray-darker   or darken(gray--base, 20%)
gray--darkest  ?= palette--gray-darkest  or darken(gray--base, 30%)
